
@{
    ViewBag.Title = "Home Page";
}

<div class="section-1 ">
    <div class="row">
        <div class="col-md-4 landing_text">
            <h1>DominoHut&#8482; Pizza</h1>
            <p class="lead">With passionate recommendations from all 10 of our clients, you can be sure the our pizza is made out of the freshest ingredients straight out of our local gutter, you wont regret ordering from Domino Hut!!</p>
            <a class="btnGeneral btn-Order">Order Now &raquo;</a>
        </div>
    </div>
</div>

<div class="section-2">
    <h1 class="flavor-text-about">About us</h1>
    <div class="row">
        <div class="col-md-2 about-text">
            
            <h2><i class="large material-icons">directions_bike</i>The Beginning</h2>
            <p>50 years ago our founder LempelZiv decided to combine dough, cheese and tomato sauce. Ever since then we've been making pizza.</p>
        </div>
        <div class="col-md-2 about-text">
            <h2>The pizza</h2>
            <p>Our pizza is made from the finest ingredients such as dough, cheese and tomato sauce.</p>
        </div>
        <div class="col-md-2 about-text">
            <h2>The flavors</h2>
            <p>Here in DominoHut Pizza(tm), we work hard to give you the rich taste of the italian cuisine- dough, cheese and tomato sauce.</p>
        </div>
        <div class="col-md-2 about-text">
            <h2>Dough, Cheese and Tomato Sauce</h2>
            <p>We don't actually use real cheese.</p>
        </div>
    </div>
</div>
<div class="section-3">
    <h1 class="title">Our Customers Recommend...</h1>
    <div class="col-md-3 about-text">
        <h2>The pizza</h2>
        <p>
           Great flavor of dough, cheese and tomato sauce.
           fast delivery, i was only threatened twice before i or
        </p>
            <cite>Alberto Duncan</cite>

</div>
    <div class="col-md-3 about-text">
        <h2>The flavors</h2>
        <p>Here in DominoHut Pizza(tm), we work hard to give you the rich taste of the italian cuisine- dough, cheese and tomato sauce.</p>
        <cite>Alberto Duncan</cite>
    </div>
    <div class="col-md-3 about-text">
        <h2>Dough, Cheese and Tomato Sauce</h2>
        <p>We don't actually use real cheese.</p>
        <cite>Alberto Duncan</cite>
    </div>

</div>